.becomePartnerSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-color: #f2f2f2;
}

.bePartner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: larger;

    * {
        margin-bottom: 1rem;
    }
}

.partnerBtn {
    width: 200px;
    padding: 0.8rem;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e91e63;
    color: #fff;
}

.partnerBtn:hover {
    cursor: pointer;

    box-shadow: 1px 0px 12px 3px #000000bf;
    -webkit-box-shadow: 1px 0px 12px 3px #000000bf;
    -moz-box-shadow: 1px 0px 12px 3px #000000bf;
}

.partnerBenefitsList {
    font-size: 1.2rem;
    margin-left: 1.2rem;

    li {
        margin-block: 1rem;
    }

    li::marker {
        color: #5e5e5e;
    }
}

.ourPartnersHeading {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card img {
    max-height: clamp(80px, 20vw, 120px);
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    max-height: 90dvh;
    position: relative;

    overflow-y: scroll;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Desktop */
@media (min-width: 768px) {
    .becomePartnerSection {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards {
        justify-content: flex-start;
    }
}